<header>
    <div class="jumbotron">
      <h1 class="display-4">Complaint Management System</h1>
      <p class="lead">A platform to manage complaints effectively</p>
    </div>
  </header>

  <main>
    <section class="admin">
      <div class="container">
        <h2>Admin</h2>
        <p>View Complaint, Delete Complaint and more</p>
        <a routerLink="admin" class="btn btn-danger p-2">Login as Admin</a>
      </div>
    </section>

    <section class="user">
      <div class="container">
        <h2>User</h2>
        <p>File a complaint</p>
        <a routerLink="useroptions" class="btn btn-danger p-2">User Options</a>
      </div>
    </section>
  </main>

  <footer class="bg-light">
    <div class="container">
      <p class="text-center">&copy; 2023 Complaint Management System</p>
    </div>
  </footer>
